.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
   margin-bottom: 20px;

  span {
    width: max-content;
    line-height: 1;
    font-size: 22px;
    white-space: nowrap;
  }

  select {
    text-align: center;
    font-size: 22px;
    border: none;
    flex: 1;
    padding: 10px;
    border-radius: 5px;
  }
}

.wrapper.invalid {
  position: relative;

  select {
    color: red;

    option {
      color: #000000;
    }
  }

  .icon-error-value {
    position: absolute;
    right: 18px;
    top: 16px;
  }
}
