.wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  min-height: 42px;

  span {
    white-space: nowrap;
    line-height: 1;
    font-size: 22px;
  }

  .value-text {
    font-size: 25px;
    flex: 1;
    padding: 10px;
    padding-left: 0;
    padding-bottom: 5px;
  }
}
